.lang{
    font-size: 12px;
}

.search-icon{
    background: #ffb100;
    width: 43px;
    border-radius: 20px;
    padding: 13px;
}

.spacer{
    width: 88%;
    float: right;
    height: 2px;
    background: #ffb100;
    margin-bottom: 25px;
}

.logo{
    margin: 15px 0px 0px 40px;
}

.nav-link {
    font-size: 15px;
}

#slider {
    background: url(../assets/image1.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 78vh;
    margin-top: 50px;

}

.about-info h5,
.about_history h5 {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

span{
    color: #ffb100;
}

#feature {
    background-color: rgba(246, 249, 252, 1);
    padding: 90px 0px 70px;
}

.about-img {
    position: relative;
}


#about .s-top-p {
    margin-bottom: 47px;
}

.about-info h5,
.about_history h5 {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.about_history {
    margin-top: 43px;
}

#about .mybtn {
    margin-top: 30px;
}